body {
  margin: 0;
  padding: 0;
}

#root {
  height: auto !important;
}

.content {
  margin: 0 auto;
  min-width: 992px;

}

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
}

.player {
  width: 200px;
}

.gameWrap {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.chosePlayer {
  margin: 0 auto;
  padding-top: 30px;
}
